/* Nav.module.css */

.navbar {
  
  background-color: rgba(245, 97, 11, 0.752);
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  font-size: 1.3rem;
  margin: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}

.navbar a:hover {
  /* background-color: #555; */
  text-decoration: underline;
}
